:root{
    --primaryColor:rgba(252, 203, 96, 0.918);
}

@media only screen and (min-width:380px) {
    * {
        margin: 0;
        padding: 0;
    }

    .headsection button {
        margin-left: -8px;
    }
}


@media only screen and (min-width:700px) {

    /* nav section  */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px;
    }

    .logo {
        justify-content: left;
        margin: -100px;
    }

    .logo img {
        height: 350px;
    }

    .navigations ul li {
        padding: 0px 15px;
    }

    .navigations ul li a {
        font-size: 21px;
    }

    /* head sec */
    #home {
        display: flex;
        flex-direction: row-reverse;
        padding: 10px 40px;
        align-items: center;
    }

    #home .divisionright {
        width: 40vw;
    }

    #home .textcontent {
        width: 400px;
        padding: 10px;
    }

    .divisionleft {
        width: auto;
    }

    .divisionleft h1 {
        text-wrap: wrap;
        width: 300px;
    }

    .divisionleft p {
        width: 300px;
    }

    .headsection {
        width: auto;
    }

    .headsection>button {
        margin-left: 20px;
    }

    /* section 1 */
    .section1 img:nth-child(1),
    .section1 img:nth-child(5) {
        display: block;
        height: 200px;
        align-self: center;
    }

    .section1 img:nth-child(1) {
        margin-top: 10px;
        margin-right: -30px;
    }

    .section1 img:nth-child(3) {
        z-index: 10;
    }

    .section1 {
        height: 80px;
        padding: 10px;
    }

    .section1 img {
        height: 150px;
        margin: -20px;
    }

    .section1 img:nth-child(5) {
        filter: invert(2);
        background-color: transparent;
        height: 160px;
    }

    .section1 img:nth-child(4) {
        height: 230px;
        margin: -40px;
        filter: contrast(2);
    }

    .section1 img:nth-child(2) {
        height: 180px;
        margin: -40px;
    }
}

@media only screen and (min-width:820px) {

    .headsection>button {
        width: 120px;
        height: 35px;
        font-size: 15px;
        padding: 6px 6px;
    }
    .section2 {
        width: fit-content;
        margin-top: 50px;
    }
    .section2 h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 400;
    }

    .section2>p {
        width: fit-content;
        padding: 0 130px;
    }

    .boxes {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .boxes>.box {
        box-sizing: border-box;
        width: 198px;
        height: 240px;
        padding: 18px;
        border: 1.5px solid black;
        border-radius: 9px;
        margin: 6px 6px;
        justify-content: start;
        overflow: hidden;
        box-shadow: none;
    }
    .box span{
        padding: 7px;
        width: 45px;
        height: 45px;
    }
    .box i{
        font-size: 25px;
    }
    .box h2{
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }
    .box p{
        color: rgba(0, 0, 0, 0.804);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .section3{
        margin-top: 10px;
        flex-direction: row;
        position:relative;
        padding:10px 30px;
        overflow: hidden;
        height: 360px;
        justify-content: center;
    }

    .section3 .division1{
        align-items: center;
    }
    .section3 h3{
        position:absolute;
        top: 25px;
        left: 520px;
    }

    .division1 img{
        width: 400px;
        margin-top: -197px;
    }
    .section3>.division2{
        flex-direction: column;
        margin-top: 70px;
    }

    .section4-head>h4{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 400;
    }

    .section4-head>p{
        padding: 0 130px;
    }


    /* section 4 */
    .section4{
        margin-top: 40px;
    }
    .section4-head>img{
        position: absolute;
        right: 30px;
        background-color: transparent;
        width: 140px;
    }
    .section4-head p {
        font-size: 17px;
    }
    .projectCard>.sep1>p{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .projectCard{
        border: none;
        background-color: transparent;
        box-shadow: none;
        width: 80vw;
        justify-content: space-between;
        flex-direction: row;
        /* min-width: none; */
        padding:0 30px;
        max-width: none;
        margin: 40px 0;
    }
    .projectCard.webdev .sep2 img{
        float: left;
    }
    .projectCard .sep1{
        margin-top: 30px;
    }
    .projectCard>.sep1 p:nth-child(3){
        display: block;
    }

    .webdev{
        flex-direction: row-reverse;
    }
    .ecommerce{
        flex-direction: row-reverse;
        margin-bottom: 30px;
    }
    .last{
        margin-bottom: 30px;
    }
    .last button{
        width: 149px;
        height: 45px;
        font-size: 16px;
        padding: 12px 8px;
    }

    /* section 5 */
    .section5{
        padding:40px 150px ;
    }

    .section6{
        padding:40px 150px ;
    }

    /* footer */

    footer{
        align-items: center;
        justify-content: center;
    }
    .footer-image{
        display: block;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
    .footer-image .footer-logo img{
        margin-left: -50px;
        margin-top: -10px;
    }
    .footer-image .footer-text p{
        margin-right: 20px;
    }
    .footercontainer{
        padding:0px 78px ;
        margin: 0 100px;
    }
    .footer-Newsletter span{ 
       display: block;
    }
}

@media only screen and (min-width:950px){
    .contactus{
        display: block;
    }
    .contactus button{
        background-color: black;
        color: white;
        border-radius: 11px;
        padding: 10px 12px;
        font-size: 14px;
    }
    .contactus button:hover{
        background-color: var(--primaryColor);
        color:black;
    }
    #home{
        padding: 10px 96px;
    }
    .divisionleft h1 {
        font-size: 28px;
    }
    .divisionleft p {
        font-size: 19px;
    }

    .divisionright img {
        width: 510px;
    }
    .headsection>button {
        width: 130px;
        height: 39px;
        font-size: 16px;
        padding: 10px 12px;
    }


    /* section 1 */
    .section1 {
        height: 91px;
    }
    .section1 img:nth-child(1){
        height: 220px;
    }
}

/*  no idea simple
 */